@media only screen and (max-width:991px){
    .navbar-wrapper{
        position: absolute;
        background: black;
        height: calc(100vh - 100px );
        width: 100vw;
        bottom: 0;
        left: 0;
        display: none;
    }
    .navbar-wrapper.active{
        display: flex;
    }
}