@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&family=Work+Sans:wght@600&display=swap");

:root {
    --primary-color: #9747ff;
    --secondary-colot: #2b2b2b;
}
*,
html,
body {
    padding: 0;
    margin: 0;
    font-family: "Work Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
table,
td,
tr,
ol,
ul,
li {
    margin: 0;
    padding: 0;
}
.primary-font {
    font-family: "Space Mono", monospace;
}
h1,
h2,
h3,
h4,
h5 {
    font-style: normal;
    font-weight: 700;
}
h1 {
    font-size: 67px;
    line-height: 110%;
}
h2 {
    font-size: 51px;
    line-height: 110%;
}
h3 {
    font-size: 38px;
    line-height: 120%;
}
h4 {
    font-size: 28px;
    line-height: 140%;
}
h5 {
    font-size: 22px;
    line-height: 160%;
}
p,
span,
label {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.button {
    display: inline-flex;
    height: 60px;
    padding: 0px 50px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 2px solid #000;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}
.button-primary {
    color: #fff;
    background: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.button-danger {
    color: #fff;
    background: #e06b6b;
    border: 2px solid #e06b6b;
}

.button-success {
    color: #fff;
    background: #4ab94a;
    border: 2px solid #4ab94a;
}
.button-outline {
    background: #000000;
}
.button-lg {
    height: 72px;
    font-size: 22px;
}
.button-sm {
    height: 46px;
}
.button-icon::before{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.button-rocket::before{
    background-image: url(./../image/icon/RocketLaunch.svg);

}
.button-envelope::before{
    background-image: url(./../image/icon/EnvelopeSimple.svg);

}
.button-plus::before{
    background-image: url(./../image/icon/Plus.svg);

}
.button-copy::before{
    background-image: url(./../image/icon/Copy.svg);

}
.button-user::before{
    background-image: url(./../image/icon/User.svg);

}

section{
    padding: 80px 120px;
}

